  <mat-card>
    <mat-card-title>Register Account</mat-card-title>
    <mat-card-content>
    <span *ngIf="success" class="successMsg">
        You have successfully registered! Verify your e-mail.
      </span>
      <form novalidate #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <span *ngIf="error" class="errorMsg">
        {{error}}
      </span>
        <mat-form-field>
          <input matInput [(ngModel)]="user.username" name="username" placeholder="Username" #username="ngModel"
                 minlength="2" required>
        </mat-form-field>

        <span *ngIf="email.invalid && (email.dirty || email.touched)" class="errorMsg">
        Email is not correct!
      </span>
        <mat-form-field>
          <input matInput [(ngModel)]="user.email" name="email" placeholder="E-mail" #email="ngModel" email required>
        </mat-form-field>

        <span *ngIf="password.invalid && (password.dirty || password.touched)" class="errorMsg">
        Password needs to be atleast 6 characters and contain one uppercase letter and digit!
      </span>
        <mat-form-field>
          <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,14}$" matInput (change)="checkPassword()" [(ngModel)]="user.password" name="password" #password="ngModel"
                 placeholder="Password" minlength="6" required>
        </mat-form-field>

        <span *ngIf="(password.value != passwordVerify.value) && (passwordVerify.dirty || passwordVerify.touched)"
              class="errorMsg">
        Passwords do not match!
      </span>
        <mat-form-field>
          <input type="password" matInput [(ngModel)]="passwordVerification" name="passwordVerify"
                 placeholder="Repeat Password" #passwordVerify="ngModel" required>
        </mat-form-field>

        <button class="mat-background-primary"
                [disabled]="(!registerForm.form.valid) || (password.value != passwordVerify.value)" mat-button>Register
          account
        </button>
      </form>
      <a routerLink="/login">Have an account already? Login!</a>
    </mat-card-content>
</mat-card>
