mat-card {
  top: 10vh;
  margin: auto;
  width: 40%;
  background-color: ghostwhite;
}

mat-form-field {
  display: block;
  width: 50%;
  margin: auto;
}

mat-card-title {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2em;
}

form {
  text-align: center;
}

button {
  background-color: #bd352b;
  color: white;
}
a {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.errorMsg {
  text-align: center;
  color: red;
  font-weight: bold;
}

.successMsg {
  text-align: center;
  color: green;
  font-weight: bold;
}



