.center{
    text-align: center;
}
.userContainer{
    text-align: center;
}
.overflow{
    overflow: scroll;
    max-height: 100px;
    overflow-x: hidden;
    width: 85%;
    margin: auto;
}
.close{
    margin-top:10px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }
  .littleTitle{
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #8080803b;
    padding: 4px;
    margin-top: 0px;
    background-color: whitesmoke;
    font-size: 20px;
    color: grey;
    margin-top:5px;
}