<div class="center">
  <h1>Invite</h1>
  <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let u of chipUsers" [selectable]="chipselectable"
                 [removable]="chipremovable" (removed)="chipRemove(u)">
          {{u}}
          <mat-icon matChipRemove *ngIf="chipremovable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="invite users by email or username"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="chipAdd($event)">
      </mat-chip-list>
    </mat-form-field>
  <p class="littleTitle">Friends</p>

  <div class="overflow">
    <table style="margin:auto">
      <tr style="display:inline; margin-right:6px;" *ngFor="let f of friends">
        <td>{{f.username}}</td>
        <td><mat-checkbox class="example-margin" (change) = "checkboxChange(f, $event)"></mat-checkbox></td>
      </tr>
    </table>
  </div>

  
  <p class="littleTitle">Recently Played Against</p>

  <div class="overflow">
      <table style="margin:auto">
        <tr style="display:inline; margin-right:6px;" *ngFor="let f of friends">
          <td>{{f.username}}</td>
          <td><mat-checkbox class="example-margin" (change) = "checkboxChange(f, $event)"></mat-checkbox></td>
        </tr>
      </table>
      </div>
      

  <button style="margin-right:10px; margin-bottom:10px;" class="close" color="warn" mat-raised-button (click)="close()">close</button>
  <button style="margin-right:10px; margin-bottom:10px;" class="close" color="accent" mat-raised-button (click)="invite()">Send Invite</button>
  <!--p>{{getInviteString()}}</p-->
</div>