@import "~src/variables";

#chatWindow {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 8px;
  background-color: $darken-color;
  margin: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: bottom;
  position: relative;

  #chatLog {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 45px;

    ng-scrollbar {
      .chatMsg {
        border-radius: 8px;
        background-color: $lighten-color;
        padding: 5px;
        margin: 5px;
        word-wrap: break-word;
        word-break: break-all;


        .userName {
          margin: 0px;
          font-size: 1.2em;
          font-weight: bold;
          color: $darker-red;
        }

        .message {
          margin: 0px;
          color: $dark-red;
        }
      }
    }
  }

  #chatBox {
    position: relative;
    height: 36px;

    td {
      height: 36px;

      input {
        border-radius: 16px;
        height: 30px;
        width: calc(100% - 12px);
        margin: 5px;
        background-color: $lighten-color;
        border: transparent;
        padding: 2px;
        color: $dark-red;
      }

      button {
        height: 32px;
        width: 32px;
        border: transparent;
        margin: 5px;
        background-color: transparent;
        position: absolute;
        right: 0px;
        color: $darker-red;
        font-weight: bold;
      }
    }
  }
}
