<table id="chatWindow">
  <tr id="chatLog" *ngFor="let chatMsg of chatlog; let last = last" [id]="last?'lastMessage':''"><!-- #ChatLog [scrollTop]="ChatLog.scrollHeight"-->
      <ng-scrollbar [invertX]="true" [shown]="'hover'" [compact]="true">
    <td *ngIf="chatMsg.sender" class="chatMsg">{{chatMsg.sender.username}} : {{chatMsg.message}}</td>
    </ng-scrollbar>
  </tr>
  <tr>
    <td>
      <input #chatInput type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
      <input type="submit" (click)="sendMessage()">
    </td>
  </tr>
</table>


