<div class="main">
  <h1>Notifications</h1>
  <div class="container">
    <div class="item" *ngFor="let not of notificationItems" style="text-align:left" [style.backgroundColor] = "not.color">
      {{not.message}}
      <div style=" float: right; text-align: right; margin-top:-12px">
        <button mat-icon-button (click)= accept(not)>
          <mat-icon style="color:green" >done</mat-icon>
        </button>
        <button mat-icon-button (click)= decline(not)>
          <mat-icon style="color:red">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
