img {
  height: 80%;
  border-radius:23px;
  animation: cardanimation 1s;
}
@keyframes cardanimation{
  0%{
    transform:scale(0.9);
  }
  100%{
    transform:scale(1);
  }
}
.plusvier{
  animation: plusvieranimation 1s;
}
@keyframes plusvieranimation{
  0%{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
    box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
  }
  50%{
    -webkit-box-shadow: 0px 0px 121px 0px rgba(255,0,225,1);
    -moz-box-shadow: 0px 0px 121px 0px rgba(255,0,225,1);
    box-shadow: 0px 0px 121px 0px rgba(255,0,225,1);
  }
  100%{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
    box-shadow: 0px 0px 0px 0px rgba(255,0,225,1);
  }
}
.reverse{
  animation: reverseanimation 1s;

}
@keyframes reverseanimation{
  0%{
    transform:scale(0.5);
    transform:rotate(0deg);
  }
  100%{
    transform:scale(1);
    transform:rotate(720deg);
  }
}
.plus{
  animation: plus 1s;

}
@keyframes plus{
  0%{
    -webkit-box-shadow: 0px 0px 0px 0px red;
    -moz-box-shadow: 0px 0px 0px 0px red;
    box-shadow: 0px 0px 0px 0px red;
  }
  50%{
    -webkit-box-shadow: 0px 0px 121px 0px red;
    -moz-box-shadow: 0px 0px 121px 0px red;
    box-shadow: 0px 0px 121px 0px red;
  }
  100%{
    -webkit-box-shadow: 0px 0px 0px 0px red;
    -moz-box-shadow: 0px 0px 0px 0px red;
    box-shadow: 0px 0px 0px 0px red;
  }
}

.block{
  animation: block 1s;

}
@keyframes block{
  0%{
    transform: scale(1);
  }
  50%{

    transform: scale(1.3);
  }

  100%{

    transform: scale(1);
  }
}
