/*.Card:hover {
  img {
    transition: top 0.2s ease-out 0s;
    top: 0%;
  }
}*/

#Hand {
  //max-width: calc(100% - 150px);
  height: 100%;
  transition: 0.2s ease-out 0s;
  position: relative;
  left: 49%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /*left: calc(50% - 153px);
  -webkit-transform: translateX(calc(-50% + 75px));
  -moz-transform: translateX(calc(-50% + 75px));
  -ms-transform: translateX(calc(-50% + 75px));
  -o-transform: translateX(calc(-50% + 75px));*/

  .Card {
    height: 100%;
    display: inline-flex;

    img {
      height: 100%;
      //width: auto;
      //max-width: 153px;
      left: 20px;
      position: absolute;
      //border-radius: 16px;
      background-size: cover;
      transition: 0.2s ease-out 0s;
      //box-shadow: 1px 1px 10px rgb(133, 133, 133);
    }

    .selectedCard {
      top: -20%;
    }

    .unselectedCard {
      top: 0%;
    }
  }

  .cardSelector {
    height: 100%;
    //max-width: 153px;
    display: inline-flex;
    position: absolute;
    cursor: pointer;
    //background-color: rgba(255, 128, 0, .5);
    //border: solid black 1px;
  }
}
