/*.Card:hover {
  img {
    transition: top 0.2s ease-out 0s;
    top: 0%;
  }
}*/
#Hand {
  height: 100%;
  transition: 0.2s ease-out 0s;
  position: relative;
  left: 49%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /*left: calc(50% - 153px);
  -webkit-transform: translateX(calc(-50% + 75px));
  -moz-transform: translateX(calc(-50% + 75px));
  -ms-transform: translateX(calc(-50% + 75px));
  -o-transform: translateX(calc(-50% + 75px));*/ }
  #Hand .Card {
    height: 100%;
    display: inline-flex; }
    #Hand .Card img {
      height: 100%;
      left: 20px;
      position: absolute;
      background-size: cover;
      transition: 0.2s ease-out 0s; }
    #Hand .Card .selectedCard {
      top: -20%; }
    #Hand .Card .unselectedCard {
      top: 0%; }
  #Hand .cardSelector {
    height: 100%;
    display: inline-flex;
    position: absolute;
    cursor: pointer; }

/*# sourceMappingURL=hand.component.css.map */
