<div class="notificationContainer"><div *ngFor="let n of notifications"  id="notificationDiv" class="notification" [style.backgroundColor] = "n.color">{{n.message}}</div></div>
<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/"><img src="/assets/img/logo.png" width="70" style="margin-top:5px"></a>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/notifications" mat-button>
          <mat-icon [matBadge]="getNotificationNumber()" matBadgePosition="above before">notifications</mat-icon>
          Notifications
        </a>
        <a href="#" mat-button>
          <mat-icon>message</mat-icon>
          Messages
        </a>
        <a routerLink="/lobbies" mat-button>
            <mat-icon>group</mat-icon>
            Lobbies
          </a>
        <a routerLink="/statistics" mat-button>
          <mat-icon>assessment</mat-icon>
          Statistics
        </a>
        <a *ngIf="!isLoggedin()" routerLink="/register" mat-button>
          <mat-icon>account_box</mat-icon>
          Login/Register
        </a>
        <a *ngIf="isLoggedin()" routerLink="/account" mat-button>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
        <a *ngIf="isLoggedin()" routerLink="/" (click)="logout()" mat-button>
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon>notifications</mat-icon>
          Notifications
        </a>
        <a href="#" mat-list-item>
          <mat-icon>message</mat-icon>
          Messages</a>
        <a routerLink="/register" mat-list-item>
          <mat-icon>account_box</mat-icon>
          My Account
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
