.icon {
  padding: 0 14px; }

.spacer {
  flex: 1 1 auto; }

.mat-toolbar.mat-primary {
  background-color: #bd352b; }

mat-toolbar {
  height: 7vh !important; }

.content {
  background-color: #f7d2d2; }

.notification {
  position: absolute;
  top: 64px;
  margin: 5px;
  border-radius: 5px;
  padding: 4px;
  z-index: 1000;
  animation: notify 0.2s forwards;
  overflow: hidden;
  color: white; }

.hide {
  animation: hide 0.2s forwards; }

@keyframes hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes notify {
  from {
    height: 0;
    opacity: 0; }
  to {
    height: 20px;
    opacity: 1; } }

/*# sourceMappingURL=app.component.css.map */
