.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background-color: #c94444;
  -webkit-box-shadow: 0px -21px 18px 23px rgba(102,102,102,1);
  -moz-box-shadow: 0px -21px 18px 23px rgba(102,102,102,1);
  box-shadow: 0px -21px 18px 23px rgba(102,102,102,1);
}

mat-toolbar {
  height: 60px !important;
  padding:5px;
}

.content {
}
.notificationContainer{
  position: absolute;
  top:64px;
}
.notification{
  width: auto;
  margin: 5px;
  border-radius: 5px;
  padding: 4px;
  z-index: 1000;
  animation: notify 0.2s forwards;
  overflow: hidden;
  color:white;
}
.hide{
  animation: hide 0.2s forwards;

}
@keyframes hide{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes notify{
  from{
    height: 0;
    opacity: 0;
  }
  to{
    height: 20px;
    opacity: 1;
  }
}