.waitingScreen{
  width: 100%;
  text-align: center;
}
.loader{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

    .addButton {
      display: block;
      margin: auto;
      background-color: whitesmoke;
      border-radius: 180px;
      padding: 2px;
      margin-top: 7px;
      color: green;
      border: 1px solid green;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(196,190,196,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(196,190,196,1);
box-shadow: 0px 0px 15px 0px rgba(196,190,196,1);

    }
.lob{
    height: 100px;
    width : 200px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.lobContainer{
    text-align: center;
    width: 100%;
}
.lobbyCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 150px;
  height: 220px;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  border: 8px solid white;
  display: inline-block;
  border-radius: 20px;
  color: white;
  background-color: #c94444;
  opacity: 0.5;

}
.small{
  height: 100px;
}

/* On mouse-over, add a deeper shadow */
.lobbyCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 1;
}

/* Add some padding inside the card container */
.lobbyCardInfo {
  padding: 2px 16px;
}
.current{
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.699);
}
.add{
  background-color:transparent;
  height: 150px;
  width: 240px;
  border: 0;
  opacity: 1;
  background-image: url('/assets/img/addButtonCard.png');
  background-repeat: no-repeat;
  background-size: cover;
  

}