<div class="lobContainer">
  <div class="">
    <div class="lobbyCard small add" (click)="addLobby()" >
      <div class="lobbyCardInfo">
        <h4 style="color:white;font-size:18px;margin:0;margin-top:40px;transform:rotate(22.5deg)">Maak een lobby aan
        </h4>
        <mat-icon class="addButton">add</mat-icon>
      </div>
    </div>
  </div>

  <a href="mylobbies">You can find your personal lobbies here</a>
  <div *ngIf="lobbies.length != 0">
    <div class="lobbyCard" *ngFor="let lobby of lobbies" [style.backgroundColor]="lobby.color" [ngClass]="{'current': currentLobby && currentLobby.lobbyId == lobby.lobbyId}" (click)="joinLobby(lobby)">
      <div class="lobbyCardInfo">
        <h3 style="height:45px; display:block; margin-bottom:2px; text-overflow: ellipsis; overflow: hidden;">
          {{lobby.name}}</h3>
        <img style="margin-top:20px; margin-bottom:20px" src="../../../assets/img/logo.png" height="70.2" width="100" />
        <p style="margin-top:2px">{{lobby.playerCount}} spelers</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="lobbies.length == 0" class="waitingScreen">
  <mat-spinner [diameter]="60" height="100px" class="loader"></mat-spinner>
</div>