.waitingScreen {
  width: 100%;
  text-align: center; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.lob {
  height: 100px;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.2s; }

.lobContainer {
  text-align: center;
  width: 100%; }

.lobbyCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 220px;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  display: inline-block; }

.small {
  height: 100px; }

/* On mouse-over, add a deeper shadow */
.lobbyCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* Add some padding inside the card container */
.lobbyCardInfo {
  padding: 2px 16px; }

.current {
  color: green; }

/*# sourceMappingURL=lobbies.component.css.map */
