<mat-card>
  <mat-card-title>Login Account</mat-card-title>
  <mat-card-content *ngIf="!loggedIn">
    <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <span *ngIf="error" class="errorMsg">
        {{error}}
      </span>
      <mat-form-field>
        <input [(ngModel)]="user.email" name="email" matInput placeholder="Email" required>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Password" required>
      </mat-form-field>

      <button [disabled]="!loginForm.form.valid" class="mat-background-primary" mat-button>Login account</button>
    </form>
    <div class="socialButtons">
    <a href="https://localhost:9090/oauth2/authorize/facebook?redirect_uri=http://localhost:4200/oauth2/redirect"><img class="socialButton" src="/assets/img/google-signin.png"></a>
    <a href="https://localhost:9090/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect"><img class="socialButton" src="/assets/img/facebook-signin.png"></a>
    </div>
    <a routerLink="/register">Don't have an account yet? Register!</a>
  </mat-card-content>
  <mat-card-content *ngIf="loggedIn">
    <span class="successMsg">You successfully logged in!</span>
  </mat-card-content>
</mat-card>
