<div *ngIf = "winner" class="win"><span class="winnerText">{{winner}} has won the game! </span><button mat-button>return to lobby</button></div>
<div class="game-content">
  <div class="grid-container">
    <app-speler *ngIf="players[0]" class="player1 player" [events]="cardplusSubject[0].asObservable()" [speler]="players[0]"></app-speler>
    <app-speler *ngIf="players[1]" class="player2 player" [events]="cardplusSubject[1].asObservable()" [speler]="players[1]"></app-speler>
    <app-speler *ngIf="players[2]" class="player3 player" [events]="cardplusSubject[2].asObservable()" [speler]="players[2]"></app-speler>
    <app-speler *ngIf="players[3]" class="player4 player" [events]="cardplusSubject[3].asObservable()" [speler]="players[3]"></app-speler>
    <app-speler *ngIf="players[4]" class="player5 player" [events]="cardplusSubject[4].asObservable()" [speler]="players[4]"></app-speler>
    <app-speler *ngIf="players[5]" class="player6 player" [events]="cardplusSubject[5].asObservable()" [speler]="players[5]"></app-speler>
    <app-speler *ngIf="players[6]" class="player7 player" [events]="cardplusSubject[6].asObservable()" [speler]="players[6]"></app-speler>
    <app-speler *ngIf="players[7]" class="player8 player" [events]="cardplusSubject[7].asObservable()" [speler]="players[7]"></app-speler>
    <div *ngIf="!inHistory" class="player9" style="width:400px"><img src="assets/img/unoback.png"  style="height:200px;cursor:pointer; display:inline-block" (click)="takeCard()"><img src="assets/img/unoButton.png" style="height:100px;cursor:pointer; display:inline-block" (click)="clickUno()"></div>
    <app-hand *ngIf="player" class="hand" (clickedCard)="onCardClicked($event)" [deck]="player.cards"></app-hand><!-- deck = user.cards -->

    <div style="height:350px; position: relative; margin-top:200px; margin-left:-200px;">
      <app-kaart *ngFor="let c of deck" [cardName]="c.image + '.png'" [choiceColor]="c.choiceColor" style="position:absolute; top:0; left: 60%; height: 350px;" [style.transform]="getSafeTransform(c)"></app-kaart>
      
    </div>
    <app-chatwindow style="margin-left:200px;"></app-chatwindow>
    
  </div>
</div>
