.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "player3 player4 player5 player6 player7"
  "player2 kaarten kaarten kaarten player8"
  "player1 kaarten kaarten kaarten player9"
  "hand hand hand hand hand";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.player3 {
  grid-area: player3;
}

.player4 {
  grid-area: player4;
}

.player5 {
  grid-area: player5;
}

.player6 {
  grid-area: player6;
}

.player7 {
  grid-area: player7;
}

.player8 {
  grid-area: player8;
}

.player9 {
  grid-area: player9;
}

.player {
  text-align: center;
}

.hand {
  grid-area: hand;
  text-align: center;
}

.cards {
  grid-area: kaarten;
  text-align: center;
}

.game-content {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 100%;
}

.chatbox {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 100%;
  //background-color: #1b5e20;
}
.win{
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top:30vh;
  z-index: 999999;
  color:gold;
  font-size: 80px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.534);
  animation: hue-animation 7s infinite;
}
@keyframes hue-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(360deg);
  }
  
  100% {
    filter: hue-rotate(0deg);
  }
}
.winnerText{
animation: wintext 1s infinite;
}
@keyframes wintext{
  0% {
    font-size: 80px;
  }
  
  50% {
    font-size: 90px;
  }
  
  100% {
    font-size: 80px;
  }
}