<div *ngIf="inviteDialogOpen" class="dialogBackground"></div>
<div *ngIf="inviteDialogOpen" class="inviteDialog"><app-invite (onInviteClose)="inviteDialogOpen = false" (onInvite)="onInvite()"></app-invite></div>
<div *ngIf="currentLobby" class="container">
  <button class="backButton" (click)="back()" mat-button style="display:block; margin:auto;">🠸 Return to lobbies</button>
  <div class="sectionA">
  <input class="h1" matInput [(ngModel)]="currentLobby.name" placeholder="lobbyname" (change)="lobbyNameChange()" [disabled]="!currentLobby.isHost" style="font-size:25px;margin-top:10px; color:#d8a004;">
  <p></p>
  <mat-form-field style="font-size:10px; width:60px; display: inline-block">
    <mat-label color="light">Max Players</mat-label>
    <mat-select color="light" [(ngModel)]="''+currentLobby.playerCount" (selectionChange)="playerCountChange()" [disabled]="!currentLobby.isHost">
      <mat-option value="2">2 players</mat-option>
      <mat-option value="3">3 players</mat-option>
      <mat-option value="4">4 players</mat-option>
      <mat-option value="5">5 players</mat-option>
      <mat-option value="6">6 players</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox style="margin-left:10px;" [(ngModel)]="currentLobby.isPrivate" (click)="makePrivate()" [disabled]="!currentLobby.isHost">Private</mat-checkbox>
</div>
  <div class="sectionB">
  <p></p>
<div class="userContainer">
  <div *ngFor= "let user of currentLobby.unoUsers" >
    <div class="user" [class.boss]="user.unoUserId == currentLobby.host.unoUserId">
    <div class="userIcon" >{{user.username[0] | uppercase }}</div>{{user.username}} <span class="status" [class.alive]="user.alive"></span><a *ngIf="isFriendable(user)" (click)="addFriend(user)" style="float: right;"><img class="addFriendImage" src="assets/img/addfriend.png"></a>
  </div>
    
  </div>
  
<button mat-button class="invite" (click)="inviteDialogOpen = true"><i class="material-icons">
  add_circle
  </i></button>
</div>
</div>
<div class="sectionC">
<p></p>
  
  <p></p>
  <button class="startButton" mat-raised-button color="primary" (click)="removeLobby()" [disabled]="!currentLobby.isHost">D E L E T E</button>
  <p></p>
  <button class="startButton" mat-raised-button color="primary" (click)="leaveLobby()" [disabled]="currentLobby.isHost">L E A V E</button>
  <p></p>
  <button class="startButton" mat-raised-button color="primary" (click)="addGame()" [disabled]="!currentLobby.isHost">S T A R T</button>
  <p>{{ created }}</p>
</div>
<div *ngIf="!currentLobby" class="waitingScreen">

  <mat-spinner [diameter]="60" height="100px" class="loader"></mat-spinner>
  </div>
<h2>Game history</h2>
<div *ngFor="let game of games" class="lobbyCard">
  <!--<img src="../../../assets/img/game.jpg" height="70.2" width="100">-->
    <h5>Spelers: {{game.players.length}} </h5>
    <!--<ol>-->
      <!--<li *ngFor="let player of game.players">{{player.user.username}} spelers</li>-->
    <!--</ol>-->
</div>
