.waitingScreen{
    width: 100%;
    text-align: center;
}
.loader{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.container{
    margin: 10px;
    text-align: center;

}
h1{
    color: rgb(255, 53, 53);
    font-size: 25px;
    display: inline;

}
.h1{
    color: white;
    font-size: 15px;
    display: inline;
}
h2{
    color:red;
    padding: 10px;
}
.mat-select-content{
    width:2000px !important;
    background-color: red !important;
    font-size: 10px !important;
  }
.mat-option{
      font-size: 10px;
  }
.userIcon{
      height: 25px;
    width: 30px;
background-color: red;
border-radius: 180px;
text-align: center;
display: inline-block;
padding-top:6px;
margin-right: 10px;
font-family: fantasy;
color:white;
border: 1px solid black;
}
.startButton{
   margin-top:20px;
 }
.backButton{
    display: inline-block;
    padding: 3px;
    min-width: 0px;
    text-align: center;
    padding: 0;

}
.userContainer{
    text-align: left;
    width: auto;
    display: inline-block;
    margin:auto;
}
.user{
    margin-top:5px;

    border-radius: 30px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: 0.5px solid black;
    background-color: rgb(209, 193, 193);
}
.boss{
    padding-left: -20px;
    background-color: gold;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.lobbyCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width : 200px;
  height: 220px;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding:5px;
  border: 1px solid black;
  display: inline-block;

}
.invite{
    margin: auto;
    width: 114px;
  }

.status{
background-color: lightgray;
display:block;
width: 10px;
height: 10px;
border-radius: 200px;
margin-left: 5px;
margin-right: 5px;
margin-top:12px;
float:right;
}
.alive{
background-color: rgb(0, 197, 0);
}
.dialogBackground{
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    margin-top: -10px;
    animation: dialogBackgroundAnimation 1s;
}
@keyframes dialogBackgroundAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.inviteDialog{
    position: absolute;
    top:10%;
    height: 0;
    width: 0;
    border-radius: 5px;
    animation: inviteDialogAnimation 1s forwards;
    left: 25%;
    width: 50%;
    background-color: white;
    z-index: 500;
    border:1px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
    overflow-y: auto;
    

}

@keyframes inviteDialogAnimation{
    0%{
        opacity: 0;
        height: 0;
        min-height: 0;
        transform: scale(0.6);
        top:0%;
    }
    100%{
        opacity: 1;
        height: 60%;
        transform: scale(1);
        top:25%;

    }
}
    
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .addFriendImage{
      height: 15px;
      display: inline-block;
      margin-bottom: -8px;
      margin-left:10px;
  }
  .addFriendImage:hover{
    cursor: pointer;
    filter: hue-rotate(180deg);
}
.sectionA{
    background-color: #ffde0073;
    display: inline-block;
    border-radius: 10px;
    border:3px solid white;
    width: 300px;
}
.sectionB{
    background-color: rgba(0, 149, 218, 0.473);
    display: block;
    border-radius: 10px;
    width: auto;
    border:3px solid white;
    width: 300px;
    margin: auto;
    margin-top:10px;
}
.sectionC{
    background-color: rgba(0, 166, 80, 0.459);
    display: block;
    border-radius: 10px;
    width: auto;
    border:3px solid white;
    width: 300px;
    margin: auto;
    margin-top:10px;
}
