<mat-card>
  <mat-card-title>Verify Account</mat-card-title>
  <mat-card-content>
    <p *ngIf="success" class="successMsg">Je account is nu geactiveerd! <a routerLink="/login">Druk hier om in te loggen.</a></p>
    <p *ngIf="error" class="errorMsg">Je verificatie link is ongeldig.</p>
  </mat-card-content>
</mat-card>
