mat-card {
  top: 10vh;
  margin: auto;
  width: 40%;
  background-color: ghostwhite;
}

mat-form-field {
  display: block;
  width: 50%;
  margin: auto;
}

mat-card-title {
  text-align: center;
}

.errorMsg {
  text-align: center;
  color: red;
  font-weight: bold;
}

.successMsg {
  text-align: center;
  color: green;
  font-weight: bold;
}
