.choice {
  display: inline-block;
  width: 50%;
  height: 100%; }

.choiceBox {
  width: 100%;
  height: 100%;
  font-size: 0; }

.choiceRow {
  width: 100%;
  height: 50%;
  display: inline-block; }

.red {
  background-color: red; }

.green {
  background-color: green; }

.blue {
  background-color: blue; }

.yellow {
  background-color: yellow; }

/*# sourceMappingURL=choose-color.component.css.map */
