<div class="choiceBox">
  <div class="choiceRow">
    <div (click)="choose('yellow')" class="choice yellow"></div>
    <div (click)="choose('green')" class="choice green"></div>
  </div>
  <div class="choiceRow">
    <div (click)="choose('red')" class="choice red"></div>
    <div (click)="choose('blue')" class="choice blue"></div>
  </div>
</div>
