<div class="historybuttons">
  <button *ngIf="history!=null" class="startButton" mat-raised-button color="primary" (click)="clickPlay()" [disabled]="isPlaying || !hasNext">Play</button>
  <button *ngIf="history!=null" class="startButton" mat-raised-button color="primary" (click)="clickPause()" [disabled]="!isPlaying || !hasNext">Pause</button>
  <button *ngIf="history!=null" class="startButton" mat-raised-button color="primary" (click)="next()" [disabled]="isPlaying || !hasNext">Next</button>
</div>
<app-game *ngIf="gameSubject!=null" [inHistory]="true" [gameSubject]="gameSubject" (ready)="initial()"></app-game>
