<h1>Your lobbies</h1>
<div *ngIf="lobbies.length != 0">
  <div class="lobbyCard" *ngFor="let lobby of lobbies" (click)="joinLobby(lobby)">
    <img src="../../../assets/img/logo.png" height="70.2" width="100" />
    <div class="lobbyCardInfo">
      <h4>{{lobby.name}}</h4>
      <p>{{lobby.playerCount}} spelers</p>
      <p *ngIf="currentLobby && currentLobby.lobbyId == lobby.lobbyId" class="current">CURRENT</p>
      <p *ngIf="!currentLobby || currentLobby.lobbyId != lobby.lobbyId" class="current"><span>&#8203;</span></p>
    </div>
  </div>
</div>
