@import '../node_modules/@angular/material/_theming';
@include mat-core();

$my-app-primary: mat-palette($mat-red);
$my-app-accent: mat-palette($mat-green, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-light: mat-palette($mat-white);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
