@import "~src/variables";

.statistics {
  padding: 5px;
  height: calc(93vh - 10px);

  #gamesWon {
    margin-bottom: 5px;
  }

  #gamesPlayed {
    margin-bottom: 5px;
  }

  #winRate {
  }

  .statistic {
    background-color: $darken-color;
    border-radius: 8px;
    min-width: 175px;
    width: calc(100% - 10px);
    height: calc((100% - 20px) / 3);
    min-height: 250px;
    position: relative;

    .title {
      text-align: center;
      font-size: 2em;
    }

    .smallUserList {
      height: calc(100% - 110px);
    }

    .bigUserList {
      height: calc(100% - 60px);
    }

    .userList {
      padding: 5px;
      background-color: $lighten-color;
      border-radius: 8px;
      position: absolute;
      left: 5px;
      right: 5px;
      width: calc(100% - 20px);
    }

    .userScore {
      text-align: center;
      font-weight: bold;
      left: 5px;
      right: 5px;
      bottom: 5px;
      position: absolute;

      .user {
        font-weight: normal;
        border-radius: 8px;
        background-color: mix($redden-color, $lighten-color, 40%);
        padding: 5px;
      }
    }
  }
}

.currentUser {
  color: $dark-red;
}

.user {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .statistics {
    display: flex;
    height: calc(93vh - 10px);

    #gamesWon {
      margin-right: 5px;
      margin-bottom: 0px;
    }

    #gamesPlayed {
      margin-right: 5px;
      margin-bottom: 0px;
    }

    .statistic {
      height: 100%;
      width: calc((100% - 20px) / 3);

      .userList {
        position: absolute;
        left: 5px;
        right: 5px;
        width: calc(100% - 20px);
        border-radius: 8px;
      }
    }
  }
}
