<div *ngIf="getSortedStats(0).length != null">
<ng-scrollbar [shown]="'hover'" [compact]="true">
  <div class="statistics">
    <div class="statistic" id="gamesWon">
      <div class="title">Most Wins
      </div>
      <ng-scrollbar class="{{currentUser!=null?'smallUserList':'bigUserList'}} userList" [shown]="'hover'" [compact]="true">
        <div class="user">
        <h3>Username:</h3>
        <h3>Wins:</h3>
        </div>
        <div *ngFor="let stat of getSortedStats(0)" class="user">
          <div class="userName" *ngIf="stat.user">{{stat.user.username}}</div>
          <div class="score" *ngIf="stat.user">{{stat.gamesWon}}</div>
        </div>
      </ng-scrollbar>
      <div class="userScore currentUser" *ngIf="currentUser.user">
        <div class="userScoreTitle">Your score</div>
        <div class="user">
          <div class="userName">{{currentUser.user.username}}</div>
          <div class="score">{{currentUser.gamesWon}}</div>
        </div>
      </div>
    </div>
    <div class="statistic" id="gamesPlayed">
      <div class="title">Most Points</div>
      <ng-scrollbar class="{{currentUser!=null?'smallUserList':'bigUserList'}} userList" [shown]="'hover'" [compact]="true">
        <div class="user">
          <h3>Username:</h3>
          <h3>Points:</h3>
        </div>
        <div *ngFor="let player of getSortedStats(1)" class="user">
          <div class="userName" *ngIf="player.user">{{player.user.username}}</div>
          <div class="score" *ngIf="player.user">{{player.pointsEarned}}</div>
        </div>
      </ng-scrollbar>
      <div class="userScore currentUser" *ngIf="currentUser.user">
        <div class="userScoreTitle">Your score</div>
        <div class="user">
          <div class="userName">{{currentUser.user.username}}</div>
          <div class="score">{{currentUser.pointsEarned}}</div>
        </div>
      </div>
    </div>
    <div class="statistic" id="winRate">
      <div class="title">Games played</div>
      <ng-scrollbar class="{{currentUser!=null?'smallUserList':'bigUserList'}} userList" [shown]="'hover'" [compact]="true">
        <div class="user">
          <h3>Username:</h3>
          <h3>Games:</h3>
        </div>
        <div *ngFor="let p of getSortedStats(2)" class="user">
          <div class="userName" *ngIf="p.user">{{p.user.username}}</div>
          <div class="score" *ngIf="p.user">{{p.gamesPlayed}}</div>
        </div>
      </ng-scrollbar>
      <div class="userScore currentUser" *ngIf="currentUser.user">
        <div class="userScoreTitle">Your score</div>
        <div class="user">
          <div class="userName">{{currentUser.user.username}}</div>
          <div class="score">{{currentUser.gamesPlayed}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-scrollbar>
</div>
