.profilePicture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: 0;
  background-color: white; }

.player {
  width: 7em;
  height: 9em;
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center; }

.mat-progress-spinner {
  top: -0.5em;
  position: absolute;
  top: 0; }

.playerName {
  text-align: center;
  font-size: 1.5em;
  font-family: "Arial Black", serif; }

.amount {
  position: absolute;
  margin-left: -50%;
  margin-top: 25%;
  color: black;
  font-weight: bold;
  font-size: 2em; }

.turn {
  color: red; }

/*# sourceMappingURL=player.component.css.map */
